<form>
    <label>Task ID</label>
    <input type="number" min="1" name="taskId" [(ngModel)]="taskId"/>
    <br>
    <label>Task Title</label>
    <input type="text" name="taskTitle" [(ngModel)]="taskTitle"/>
    <br>
    <label>Task Duration</label>
    <input type="number" min="1" name="taskDuration" [(ngModel)]="taskDuration"/>
    <br>
    <label>Task Status</label>
    <input type="text" name="taskStatus" [(ngModel)]="taskStatus"/>
    <br>
    <button (click)="AddTaskData()">Add Data</button>
</form>