<div class="container-fluid homeCss">
    <div class="row">
        <div class="col-lg-12">
            <!-- Header component -->
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <!-- Nav bar left component -->
            <app-navigation></app-navigation>
        </div>
        <div class="col-lg-9">
            <!-- right component -->
            <div class="row">
                <div class="col-lg-12">
                    <app-vistors-list></app-vistors-list>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <app-add-visitors></app-add-visitors>
                </div>
            </div>
        </div>
    </div>
</div>