<app-table [tabledata]="MainTableData"></app-table><br>
<app-table [tabledata]="MainTableData2"></app-table>
<!-- <h2>hello {{title}}</h2>
<app-my-paragraph [mainHeadingValue]="'User Info:'" [subHeadingValue]="'Active Users'"[Content]="'Paragraph Content'"></app-my-paragraph> -->
<!-- <app-my-paragraph [Content]="'Paragraph Content'"></app-my-paragraph> -->
<!-- <app-main-heading></app-main-heading>
<app-sub-heading [subHeadingText]="'Active Users'"></app-sub-heading> -->
<!-- <app-sub-heading [subHeadingText]="'InActive Users'"></app-sub-heading> -->
<!-- property binding -->