<table width="70%" border="1">
    <tr>
        <td><app-col1 [col1Text]="'This is column 1 content'"></app-col1></td>
        <td><app-col1 [col1Text]="'This is column 2 content'"></app-col1></td>
        <td><app-col1 [col1Text]="'This is column 3 content'"></app-col1></td>
    </tr>
    <tr>
        <td><app-col1 [col1Text]="'This is column 1 content'"></app-col1></td>
        <td><app-col1 [col1Text]="'This is column 2 content'"></app-col1></td>
        <td><app-col1 [col1Text]="'This is column 3 content'"></app-col1></td>
    </tr>
</table>
  

<!-- <h1>{{tableText}}</h1>
<table width="50%" border="1px solid black">
    <tr>
        <td><app-row1 [row1Text]="'col1 data'"></app-row1></td>
        <td><app-row1 [row1Text]="'col2 data'"></app-row1></td>
        <td><app-row1 [row1Text]="'col3 data'"></app-row1></td>
    </tr>
    <tr>
        <td><app-row1 [row1Text]="'col1 data'"></app-row1></td>
        <td><app-row1 [row1Text]="'col2 data'"></app-row1></td>
        <td><app-row1 [row1Text]="'col3 data'"></app-row1></td>
    </tr>
    <tr>
        <td><app-row1 [row1Text]="'col1 data'"></app-row1></td>
        <td><app-row1 [row1Text]="'col2 data'"></app-row1></td>
        <td><app-row1 [row1Text]="'col3 data'"></app-row1></td>
    </tr>
</table> -->