<div class="visitorsCss">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Visitors Id</th>
                <th>Visitors Name</th>
                <th>Host name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Mary</td>
                <td>john</td>
                <td><button class="btn btn-link">Delete</button></td>
            </tr>
            <tr>
                <td>002</td>
                <td>ramu</td>
                <td>raju</td>
                <td><button class="btn btn-link">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>